<br><br>
<li routerLink="/interpolacion">interpolacion</li>
<li routerLink="/OneWayBinding">OneWayBinding</li>
<li routerLink="/evento">evento</li>
<li routerLink="/TwoWayBinding">TwoWayBinding</li>
<li routerLink="/servicio">servicio</li>
<li routerLink="/directivas">directivas</li>
<li routerLink="/paso">Paso un parámetro</li>
<li routerLink="/pasovarios">Paso varios parametros</li>
<li routerLink="/Padre1">Herencia de padre a hijo</li>
<li routerLink="/Padre2">Herencia de hijo a padre</li>
<router-outlet></router-outlet>
